@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Primary */
    /* Text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Neutral */
    /* Text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    background: var(--soft-violet);
    background: -webkit-linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
    color: var(--very-dark-desaturated-blue);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    display: grid;
    place-items: center;
    align-content: center;
}

.faq {
    margin-top: 4rem;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 87vw;
    padding: 0 1.5rem 3rem;
    -webkit-box-shadow: 0px 20px 20px 0px rgb(49 12 82 / 25%);
    box-shadow: 0px 30px 30px 0px rgb(49 12 82 / 25%);
}

.faq__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.faq__image-mobile {
    display: initial;
    position: absolute;
    transform: translateX(-6%) translateY(-32%);
}

.faq__image-desktop, 
.faq__image-desktop-block {
    display: none;
}

.faq__text-divider {
    border-bottom: 1px solid var(--light-grayish-blue);
    width: 100%;
}

.faq__text-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-block: 1.5rem 0.75rem;
}

.faq__text-question {
    background: transparent;
    color: var(--very-dark-grayish-blue);
    font-size: 0.8rem;
    word-spacing: 1px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.faq__text-question::after {
    content: url(../images/icon-arrow-down.svg);
    display: block;
}

.faq__text-question--active {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    padding-block: 1rem 0.6rem;
}

.faq__text-question--active::after {
    content: url(../images/icon-arrow-down.svg);
    transform: rotate(180deg);
}

.faq__text-answer {
    color: var(--dark-grayish-blue);
    padding-bottom: 1rem;
    width: 90%;
    display: none;
}

.faq__text-answer--active {
    display: block;
}

@media only screen and (min-width: 768px) {
    .faq {
        width: 50vw;
    }
}

@media only screen and (min-width: 1224px) { 
    .faq {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 57.5rem;
        max-width: 57.5rem;
        padding: 0;
        margin-top: 0;
        background-size: 99%;
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: -5775% 65%;
        background-image: url(../images/bg-pattern-desktop.svg);
    }

    .faq__image-mobile,
    .faq__image-mobile--bg {
        display: none;
    }

    .faq__image {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 100%;
    }

    .faq__image-desktop-wrapper {
        overflow: hidden;
    }

    .faq__image-desktop {
        display: block;
        object-fit: cover;
        transform: translateX(-17%);
        position: relative;
    }

    .faq__image-desktop-block {
        display: block;
        z-index: 100;
        transform: translateX(-120%) translateY(25%);
        filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.25));
        position: absolute;
    }

    .faq__image-desktop-block--active {
        animation: block--active linear 0.15s 1 normal forwards;
    }
    
    .faq__image-desktop-block--inactive {
        animation: block--inactive linear 0.15s 1 normal forwards;
    }

    .faq__text {
        padding: 3.75rem 5rem  5rem 1rem;
        flex: 1;
        width: 50%;
    }

    .faq__text-title {
        padding-top: 0;
        text-align: left;
    }

    .faq__text-question {
        font-size: 0.85rem;
    }

    .faq__text-question:hover {
        color: var(--soft-red);
    }

    .faq__text-answer,
    .faq__text-question {
        width: 21rem;
        margin-right: 3rem;
    }

    .faq__text-divider {
        width: 22rem;
    }
}

@keyframes block--active {
    0% {
      transform: translateX(-120%) translateY(25%);
    }
    100% {
      transform: translateX(-135%) translateY(25%);
    }
  }

  @keyframes block--inactive {
    0% {
      transform: translateX(-135%) translateY(25%);
    }
    100% {
      transform: translateX(-120%) translateY(25%);
    }
  }